.profile {
    box-shadow: 0px 0px 10px rgb(212, 212, 212);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 15px;
    margin-top: 5px;
}

.profile p {
    font-size: 13px;
}

.profile__picture {
    height: 80px;
    width: 80px;
    object-fit: cover;
    border-radius: 50%;
    border: 1px;
    border-color: rgb(79, 202, 255);
    border-style: solid;
}

.username__wrapper {
    display: flex;
    align-items: center;
    margin-top: 10px;
}